<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/pico.css">
    <title>Roomba</title>
</head>

<body>
    <div class="container">
        <h1>Login Authentication System in Flask.</h1>
    </div>

    {% block content %}
    {% endblock %}
    <div class="container">
        <article style="text-align: center;">
            <a href="https://github.com/Hatchi-Kin/celeb_pgvector"><img src="static/github.png" alt="github.png" style="width: 50px;"></a>
        </article>
    </div>

</body>

</html>