{% extends "base.html" %} {% block content %}

<div class="container">

  <article>
    <!-- Upload form -->
    <div class="container">

      <h2 class="">Upload Image</h2>

      <form
        class="container"
        method="POST"
        action="/matches"
        enctype="multipart/form-data"
        onsubmit="return checkImageSelected()"
      >
        <input
          type="file"
          name="image"
          id="image"
          style="margin: 14px"
          onchange="loadFile(event)"
        />
        <img id="output" width="200" />
        <input type="submit" value="check face" style="margin: 14px" />
      </form>
      <script>
        var loadFile = function (event) {
          var output = document.getElementById("output");
          output.src = URL.createObjectURL(event.target.files[0]);
          output.onload = function () {
            URL.revokeObjectURL(output.src); // free memory
          };
        };
      </script>
      <img id="uploaded_image" width="200" />
    </div>
  </article>

  {% if top_5 %}
  <h1>Top 5 Celebrities</h1>
  <table>
    <thead>
      <tr>
        <th scope="col">Celebrity Name</th>
        <th scope="col">File Path</th>
        <th scope="col">Target</th>
      </tr>
    </thead>
    <tbody>
      {% for celeb in top_5 %}
        <tr>
          <td>{{ celeb.celebname }}</td>
          <td>{{ celeb.filepath }}</td>
          <td>{{ celeb.target }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}


</div>

{% endblock %}
